*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0;
    z-index: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #030b2400;
    height: auto;
    width: 100vw;
    color: white;
    overflow-x:hidden ;
}
.hiderViewerContainer{
    display: none;
}
.container{
    background-color: #011b19;
    height: auto;
    width: 100%;
    
}

.container .navbar{                   /* Navbar styling section */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #0214491c;
    box-shadow: 3px 0 5px #000000;
    position: sticky;
    top: 0px;
    right: 0px;
    width: 100%;
    backdrop-filter: blur(10px);
    transition: 1s;
    overflow-x: hidden;
    z-index: 10;
}
.container .same{
    scroll-snap-align: center;
}
.logo{
    cursor: pointer;
    color: #b9bcdd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    height: 50px;
}
.logo h3{
    padding-left: 20px;

}
.logo span{
    color: #00bbc9;
    text-shadow: 1px 0 30px #04dada;
}
.navbar .navLinks{
    display: inline-flex;
    list-style: none;
    width: auto;

}


.navbar .navLinks li{
    margin-right: 30px;
    margin-bottom: 0;
    text-align:start;

}
.navbar .navLinks li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}


.navbar .navLinks li a:hover{
    color: aqua;
    transition: 1s;
}
.active{
    transform: translateY(-5px);
    text-decoration: underline;
    text-decoration-color: #2b44ff;
    text-decoration-skip-ink:auto ;
    text-decoration-thickness: 3px;
    text-decoration-style:dashed ;
    transition: 1s;
}

.sidebar{                       /* Sidebar */
    position: sticky;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #00001456;
    list-style: none;
    transform: translateX(300px);
    box-shadow: -10px 0 10px #000000;
    padding-top: 20px 20px 40px 20px;
    border-radius: 5px;
    transition: 1s;
    display: none;
    overflow-x: hidden;
}
.sidebar li{
    text-align:start;
    margin-left: 30px;    
    width: 100%;
    line-height: 40px;
    transform: translateX(-10px);

}
.sidebar li a{
    color: white;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
}
.navbar .navLinks li:nth-child(7){
    display: none;
}
.navbar .navLinks li a:nth-child(7){
    padding-top: 5px;
}

.aboutMe{                             /* About me styling section */
    height: 100vh; 
    width: 100%;
    background-color: #00063a00;
    padding: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.aboutMe .left{
    width: 50%;

}
.aboutMe .left h1{
    color: white;
    padding: 10px 0;

}
.aboutMe .left h1 span{
    color: aqua;
    font-family:fantasy ;
    font-weight: bolder;
    
}

.aboutMe .left h2{
    color: white;
    
}
.aboutMe .left h2 span{
    color: #ffda0b;
    text-shadow: -10px -1px 10px #023022;
    
    background: transparent;
}
.aboutMe .left h2 span::before{
    content: '';
    animation: words 20s infinite;
}
.aboutMe .left h2 span::after{
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    z-index: 0;
    height: 100%;
    background-color: #011b19;
    border-left: 3px solid #03ffea;
    right: -5px;
    animation: cursor 0.6s infinite linear, typing 20s steps(20) infinite ;
}
@keyframes cursor {
    to{
        border-left: solid 2px #00063a;
    }
}
@keyframes words {
    0%,
    20%{
        content: 'Frontend Developer';
    }
    21%,
    40%{
        content: 'Web Designer';
    }
    41%,
    60%{
        content: 'UI /UX disigner';
    }
    61%,
    80%{
        content: 'Backend Developer';
    }
    81%,
    100%{
        content: 'Fullstack Developer';
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    0%,
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%{
        width: calc(100% + 10px);
    }
}

.aboutMe .left p{
    color: #ffffff;
    padding: 20px 0;

    line-height: 25px;
    margin:10px 0 10px 70px;
    border-left: solid 1px aqua;
}  
.aboutMe .left .hire{
    padding: 10px 0;
}
.aboutMe .left .hire button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px;
    background-color: aqua;
}
.aboutMe .left .hire .contract:hover{
    box-shadow: -1px -1px 20px #008d8d;
}
.aboutMe .left .hire .hireBtn{
    box-shadow: -1px -1px 20px #008d8d;
    background-color: #000808;
    color: white;
}
.aboutMe .left .hire .hireBtn:hover{
    box-shadow: -1px -1px 20px #008d8d;
    background-color: aqua;
    color: black;
}
.aboutMe .right div{
    border-radius: 63% 37% 40% 60% / 50% 47% 53% 50% ;
    animation: blobify 60s infinite forwards;
    will-change: border-radius;
    background-color: #0ac574;
    width: 90%;
    height: 90%;
    display: flex;
    perspective: 600px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 30px #038d8d,
                10px 0px 30px #010f0f;
}
.aboutMe .right{
    min-width: 37%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78a808;
    border-radius: 63% 37% 40% 60% / 50% 47% 53% 50% ;
    animation: blobify 70s  infinite forwards;
    will-change: border-radius;
    box-shadow: -10px 0px 30px #27230e,
                10px 0px 30px #010f0f;
}
@keyframes blobify {
    10%{
        border-radius: 85% 15% 50% 50% / 31% 53% 47% 69% ;
    }
    20%{
        border-radius: 64% 36% 38% 62% / 42% 64% 36% 58% ;

    }
    30%{
        border-radius: 83% 17% 59% 41% / 19% 71% 29% 81% ;
    }
    40%{
        border-radius: 61% 39% 48% 52% / 35% 60% 40% 65%  ;
    }
    50%{
        border-radius: 30% 70% 4% 96% / 77% 25% 75% 23%  ;
    }
    60%{
        border-radius: 33% 67% 15% 85% / 62% 18% 82% 38%  ;
    }
    70%{
        border-radius: 29% 71% 33% 67% / 86% 27% 73% 14%  ;
    }
    80%{
        border-radius: 54% 46% 4% 96% / 56% 35% 65% 44%   ;
    }
    90%{
        border-radius: 54% 46% 45% 55% / 61% 65% 35% 39%  ;
    }
    100%{
        border-radius: 48% 52% 23% 77% / 62% 45% 55% 38% ;
    }
    
}

.aboutMe .right:hover{

    transition: 1.5s;
    
}
.aboutMe .right img{
    width: 300px;
    border-radius: 50px;
    z-index: 0;
    clip-path: circle(70%);
    background-color: transparent;
    transform: rotateY(-23deg);
}
.aboutMe .right img:hover{
    border-radius: 50px;
    outline: none;
    box-shadow: none;
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #00e1ff;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #001310;
}

/* Portfolio section styling *//* Portfolio section styling *//* Portfolio section styling */
.portfolio{     /* Portfolio section styling */                               /* Portfolio section styling */
    background-color: #000f0f;
    padding: 40px 20px ;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.portfolio .intro{
    width: 100%;
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio h1{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: -1px -1px 1px #1df364;
    color: #a9b9ff;
    width: 100%;
    text-align: center;
}
.portfolio h1 span{
    color: #1df364;
}
.portfolio p{
    color: #ffffff;
    padding: 20px 0;
    text-align: left;
    width: 900px;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 20px;
}
.portfolio p::before{
    content: " Welcome to My Projects! Here, you’ll find a selection of the web development work Ive done, showcasing my skills in React, PHP,and JavaScript. Each project includes details on the tools and techniques used, demonstrating my ability to create effective and innovative solutions. Click on a project to learn more about my work. Feel free to reach out if you have any questions or want to collaborate.";
}

.portContainer{
    border-radius: 30px;
    background-color:  #07045c00;
    margin: 10px auto;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    grid-template-rows: repeat(2, 3fr);
    grid-template-areas: 
    'header header header main main main'
    'left middle middle middle middle right'
    'left  center center thin thin right';
    grid-gap: 30px 20px;
}

.portContainer .item{
    top: 0;
    border-radius: 30px;
    background-color: #020731;
    box-shadow: -1px 1px 10px #99ff00 inset,
                -1px -1px 10px #080c02,
                -1px 1px 10px #000000,
                1px 1px 10px #000000,
                1px 1px 10px #000000,
                1px 1px 10px #f73100,
                1px 1px 10px #080c02,
                 1px 1px 12px #ff0550 inset,
                 -1px -1px 12px #030649 inset,
                 1px -1px 10px #88dd88,
                 1px -1px 1px #b8f8b8,
                 -1px -1px 1px #b8f8b8;
    border: none;
    cursor: pointer;
}
.item-1{
    grid-area: header;
}
.item-2{
    grid-area: main;
}
.item-3{
    grid-area: left;
    overflow-x: hidden;
    overflow-y:hidden;
    background-image: url(./images/android-chrome-512x512.png);
    background-size:auto ;
    background-position: center ;
    background-repeat: no-repeat;
    background-origin:border-box ;
    background-clip: content-box ;

}
.item-3 .bottom{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 1px;
     top: 88%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px 5px 5px;
    background-color: #00000077;
    backdrop-filter: blur(1px);
}
.item-3 .bottom i{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #ffffff;
}
.item-3 .bottom svg:nth-child(1){
    rotate: 90deg;
}
.item-4{
    grid-area: middle;
    background:url(./images/lipstickEcommerce.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin:border-box ;
}
.item-5{
    grid-area: right;
}
.item-6{
    grid-area: center;
}
.item-7{
    grid-area: thin;
    grid-column: 2fr;
}
/* Skills Styling Section *//* Skills Styling Section */
/* Skills Styling Section *//* Skills Styling Section */
.skills{        /* Skills Styling Section *//* Skills Styling Section */      /* Skills Styling Section */
    height: auto;
    width: 100%;
    background-color: #001a20;
    color: #ffffff;
}
.refresher{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #533636 inset,
                2px -2px 5px #4b3030 inset,
                -2px -2px 5px #4b3030 inset,
                2px -2px 15px #000000,
                -2px 2px 15px #000000;
    background-color: black;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 99;
}
.refresher:active{
    background-color: #30c00cc7;
    
}

.sections{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills .title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    text-shadow: 1px 1px 2px grey;
                
}
.skills .title span{
    color: #eeff00;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(0, 92, 134);
}
.section1{
    padding: 20px 0;
    margin: 10px 0px ;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.skills #skill-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.skills #skill-section h2{
    color: #62ffe8;
    text-decoration: underline;
    text-decoration-color: #9eff9e;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-shadow: 1px 1px 1px #021102;    
}
.skills #skill-section .TecnicalBars{
    margin: 10px;
    padding: 10px 0;
    width: 100%;
}
.skills #skill-section .TecnicalBars .icon{
    margin-top: 30px 0;
}
.skills #skill-section .TecnicalBars .icon:first-child{
    margin-top: 0;
}
.skills #skill-section .TecnicalBars .icon:last-child{
    margin-bottom: 0;
}
.skills #skill-section .TecnicalBars .info{
    margin-top: 5px;
}
.skills #skill-section .TecnicalBars .info span{
    font-size: 20px;
    font-weight: bolder;
    animation: showBar 0.5s linear forwards;
    color: white;
}
.skills #skill-section .TecnicalBars .ProgressLine {
    position: relative;
    width: 100%;
    background-color: #554c2727;
    border-radius: 10px;
    height: 5px;
    animation: progressContainer 1.5s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes progressContainer {
    100%{
        transform: scaleX(1);
    }
}
.TecnicalBars .ProgressLine span{
    height: 100%;
    background-color: #02ffff;
    position: absolute;
    border-radius: 10px;
    animation: progressContainer 1s 2s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.TecnicalBars .ProgressLine.html span{
 width: 90%;
}
.TecnicalBars .ProgressLine.css span{
 width: 75%;
}
.TecnicalBars .ProgressLine.javascript span{
 width: 60%;
}
.TecnicalBars .ProgressLine.php span{
 width: 45%;
}
.TecnicalBars .ProgressLine.sql span{
 width: 30%;
}
.TecnicalBars .ProgressLine.python span{
 width: 40%;
}
.TecnicalBars .ProgressLine.react span{
 width: 55%;
}

.TecnicalBars .ProgressLine span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #fffb00;
    color: #072c21;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    top: -30px;
    right: -20px;
    opacity: 0;
    animation: showText 1s 2s linear forwards;
}
.TecnicalBars .ProgressLine.html span::after{
 content: '90%';
}
.TecnicalBars .ProgressLine.css span::after{
 content: '75%';
}
.TecnicalBars .ProgressLine.javascript span::after{
 content: '60%';
}
.TecnicalBars .ProgressLine.php span::after{
 content: '45%';
}
.TecnicalBars .ProgressLine.sql span::after{
 content: '30%';
}
.TecnicalBars .ProgressLine.python span::after{
 content: '40%';
}
.TecnicalBars .ProgressLine.react span::after{
 content: '55%';
}

.TecnicalBars .ProgressLine span::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent ;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: rgb(255, 251, 0);
    top: -11px;
    right: 0;
    opacity: 0;
    
    animation: showText .5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}

/* Circle Progress Styling*//* Circle Progress Styling*/
.sectionTwo{ /* Circle Progress Styling*//* Circle Progress Styling*/
    margin: 10px 5px ;
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: #01122900;
    height: auto;
}
#skill-section2{
    width: 100%;
}
#skill-section2 .heading{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #3ddf2f;
    color: #00ffff;
}
.ProfessionalBars{
    background-color:#81707000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;

}
.ProfessionalBars .circle{
    height: 200px;
    width: 50vh;
    position: relative;
    margin-bottom:10px ;
}
.ProfessionalBars .circle svg{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 180px;
    height: 180px;
}
.ProfessionalBars .circle .progress-bar{ 
    stroke-width: 10;
    stroke: #7c7c411a;
    fill: transparent;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap:round;
    animation: animateProgress 2s linear forwards;
}
@keyframes animateProgress {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #00ffff;
    fill: transparent;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
}
.path-1{
    animation: AnimatePath1 1.3s 1.5s linear forwards;

}
.path-2{
    animation: AnimatePath2 1.3s 1.5s linear forwards;

}
.path-3{
    animation: AnimatePath3 1.3s 1.5s linear forwards;

}
.path-4{
    animation: AnimatePath4 1.3s 1.5s linear forwards;

}
@keyframes AnimatePath1 {
    100%{
        stroke-dashoffset: 80;
    }
}
@keyframes AnimatePath2 {
    100%{
        stroke-dashoffset: 98;
    }
}
@keyframes AnimatePath3 {
    100%{
        stroke-dashoffset: 130;
    }
}
@keyframes AnimatePath4 {
    100%{
        stroke-dashoffset: 180;
    }
}
.ProfessionalBars .circle .percentage{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    animation: showText 1s 1.5s linear forwards;
    transform-origin: center;
    color: yellow;
    text-shadow: 2px 2px 2px #080000;
}
.ProfessionalBars .circle .text{ 
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    font-weight: bold;
    margin-top: -10px;
    opacity: 0;
    animation: showText 1s 1.5s linear forwards;
    transform-style: preserve-3d;
    color: #ff5100;
    text-shadow: 1px 2px 2px #362e2e;

}


/* On scroll effects styling  *//* On scroll effects styling  */
/* On scroll effects styling  *//* On scroll effects styling  */
.scrollEffect{
    transition: 1s;
}
/* .aboutMe .left{
    transform: translateX(-400px);
}
.aboutMe .left.pageAnimation{
    transform: translateY(0px);
} */



/* Resume / CV Styling section *//* Resume / CV Styling section */
/* Resume / CV Styling section */
/* Resume / CV Styling section */
/* Resume / CV Styling section */
.resumecontainer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001725;
}
.resume{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #00172518;
}
.resume .right{
    width: 40%;
    text-align: center;
    padding: 40px 10px;
}
.resume .left{
    padding: 40px 10px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black,
                -1px -1px 10px black;
}
.resume .left h2{
    color: #f8d2d2;
    padding: 0px 0 30px 30px;
    text-shadow: 1px 1px 10px black;
    font-size: 30px;
    margin-bottom: 20px;
}
.resume .left h2 span{ 
 color: aqua;
}
.resume .left p{
    padding-left: 10px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.resume .left p::before{
    content: ' Discover my professional journey and technical expertise. My resume offers detailed insights into my skills, experience, and education. It provides an overview of my career and showcases key projects. \A Gain a comprehensive understanding of my qualifications and accomplishments. Download my resume to see how my background aligns with your needs. Click the link to access a full view of my professional path and achievements.';
    white-space: pre-line;
}
.resume .right img{
    height: 350px;
    width: 350px;
    position: absolute;
    top: -25px;
    right: 50px;
    filter: blur(2px);
}
.resume .right .button{
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 28%;
    height: 80px;
    width: 300px;
    background: linear-gradient(90deg, transparent 40%, #001725 50%);
    border-radius: 50px;
    box-shadow: -5px 5px 5px black,
                1px -1px 5px #00a4aa inset,
                -1px 1px 5px #00a4aa inset;
    cursor: pointer;
    overflow: hidden;
    transform: translate(-50%, -50%);

}
.resume .right .button.downloaded{
    height: 20px;
    width: 400px;
    
}
.resume .right .button.downloaded::before{
    animation: mover 1.5s ease-in-out forwards;
}
@keyframes mover {
    100%{
        left: 0;
    }
}


.resume .right .button .content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    transition-delay: .5s;
}
.resume .right .button.downloaded .content{
    transform: translateY(60px);
}


.content :is(i, span) {
    color: aqua;
    font-size: 20px;
    font-weight: bold;
}
.resume .right .button .content i{
    font-size: 30px;
    color: #00fff2;
}
.resume .button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0059ff 50%, #0059ff 40%);
    border-radius: 50px;
    box-shadow: -5px 5px 5px black,
                1px -1px 5px #00a4aa inset,
                -1px 1px 5px #00a4aa inset;
}




/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
/* Small Devices To Allow Perfect Fit *//* Small Devices To Allow Perfect Fit */
@media (max-width: 968px){ /* Small Devices To Allow Perfect Fit */
    body{
        overflow-x: hidden;

    }
.hiderViewerContainer{
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 17px;
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: 2s;
    font-weight: bolder;
    font-size: 25px;

}


.navHider a{
    border: none;
    display: block;
    rotate:90deg;
    font-weight: bolder;
    color: #838fff;
    transition: 2s;
    text-decoration: none;
    position: fixed;
    top: 35px;
    
}

.navViewer a{
    
    display: none;
    color: #838fff;
    rotate: -90deg;
    text-decoration: none;
    transition: 2s;
    position: fixed;
    top: -9px;
}
.container{
    background-color: rgb(0, 0, 22);
}
.container .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #00000054;
    box-shadow: 3px 0 5px #000000;
    position: sticky;
    top: 0px;
    right: 0px;
    width: 100%;
    transition: 1s;
        top: 4px;
        right: 0;
        z-index: 1;
        backdrop-filter: none;
}
.logoImg{
    height: 30px;
}
.logo h3{
    padding-left: 10px;

}
    .navbar .navLinks li{
        display: none;
    }
.sidebar li:nth-child(1){
    background-color: blue;
    width: 100%;
    padding: 15px 0px;
    margin: 0 ;
    margin-top: 2px;
    box-shadow: 3px 0 5px #000000;
    transform: translateX(0px);
}
.sidebar li:nth-child(1) a{
    padding-top: 30px;
    padding-left: 20px;
}


.navbar .navLinks li:nth-child(7){
    margin-top: 3px;

    display: block;
}

.sidebar{ 
    width: 200px;
    padding-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    backdrop-filter: blur(20px);
    z-index: 10;
    height: 400px;
}
.sidebar ul{
    padding-top: 40px;
}

.aboutMe{                        /* About me styling section */
    width: 100%;
    background-color: #010314;
    padding: 20px;
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    justify-content: space-between;
    height: auto;
    transition: 1s;
}
.aboutMe .left{
    width: 100%;

}
.aboutMe .left h2{
    color: white;
    font-size: 20px;
}

.aboutMe .left p{
    color: #ffffff;
    padding: 20px 0;

    line-height: 22px;
    margin:10px 0 10px 2px;
    border-left: solid 1px aqua;
} 
.aboutMe .left h1 span{
    text-shadow: 1px -1px 2px #00063a;
}
.aboutMe .left h2 span::after{
    background-color: #010314;
}
.aboutMe .right{
    min-width: 300px;
    display: flex;
    height: 400px;
    justify-content: center;
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63% 37% 40% 60% / 50% 47% 53% 50% ;

    
    background-color: #212b0900;
    border-radius: 63% 37% 40% 60% / 50% 47% 53% 50% ;
    animation: blobify 70s  infinite forwards;
    box-shadow: -10px 0px 30px #27230e;
}
.aboutMe .right img{
    width: 200px;
    border-radius: 20px;
    z-index: 0;
    clip-path: circle(70%);
    background-color: transparent;
    transform: rotateY(0deg);
} 
.aboutMe .right div{
    border-radius: 63% 37% 40% 60% / 50% 47% 53% 50% ;
    animation: blobify 60s  infinite forwards;
    background-color: #0ac57400;
    width: 90%;
    height: 90%;
    display: flex;
    perspective: 700px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 30px #085757,
                10px 0px 30px #010f0f;
}
/* .aboutMe .right:hover{

} */
.aboutMe .right img:hover{
    border-radius: 20px;
}

::-webkit-scrollbar{
    width: 2px;
    

}
::-webkit-scrollbar-thumb{
    background-color: #00e1ff;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: #001310;
}
/* Portfolio Styling Section *//* Portfolio Styling Section *//* Portfolio Styling Section */
/* Portfolio Styling Section *//* Portfolio Styling Section *//* Portfolio Styling Section */
/* Portfolio Styling Section *//* Portfolio Styling Section *//* Portfolio Styling Section */
/* Portfolio Styling Section *//* Portfolio Styling Section *//* Portfolio Styling Section */


.portContainer{                           /* Portfolio section styling */
    background-color:  #02062c;
    margin: 10px auto;
    min-width: 300px;
    display: grid;
    height: 200vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    'header header header header header header'
    'header header header header header header'
    'header header header header header header'
    'main main main main right right'
    'main main main main right right'
    'center center center center center center'
    'center center center center center center'
    '. left left left left .'
    '. left left left left .'
    '. left left left left .'
    '. left left left left .'
    ;
    grid-gap: 9px 5px;
    overflow-x: hidden;
}
.portfolio{
    padding: 0;
    background-color: #030b27;

}
.portContainer .item{
    border: solid;
    border-radius: 30px;
    background-color: #030727;
    box-shadow: -1px 1px 10px #99ff00 inset,
                -1px -1px 2px #0e29a0,
                -1px 1px 10px #000000,
                1px 1px 10px #000000,
                1px 1px 10px #000000,
                1px 1px 10px #f73100,
                1px 1px 10px #080c02,
                 1px 1px 12px #ff0550 inset,
                 -1px -1px 12px #030649 inset,
                 1px -1px 10px #88dd88,
                 1px -1px 1px #b8f8b8,
                 -1px -1px 1px #1daa1d;
    border: none;
    margin: 1px 2px;
    
    
}
.portfolio .intro{
    width: 100%;
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.empty{
    display: none;
}
.portfolio h1{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: -1px -1px 1px #1df364;
    color: #a9b9ff;
    padding-top: 20px;
}
.portfolio h1 span{
    color: #1df364;
}
.portfolio p{
    color: #ffffff;
    padding: 20px 0;
    max-width: 300px;
    height: auto;
    text-align: center;
    line-height: 22px;
    text-shadow: none;
    font-size: 17px;
}
.portfolio p::before{
    content: 'Check out My Projects! Explore my work with React, PHP, and JavaScript. Click on a project to see details. Contact me for questions or collaboration.';
}
.item-1{
    background-image: none;
}
.item-2{
    background-image: none;
}
.item-3{
    background-image: none;
}
.item-4{
    background-image: none;
}
.item-5{
    background-image: none;
}
.item-6{
    background-image: none;
}
.item-7{
    background-image: none;
}



/* Container for the tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    
    visibility: hidden;
    width: 80px;
    background-color: #3b3737;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-weight: lighter;
    z-index: 1;
    top: 45px; /* Position above the tooltip element */
    left: 50%;
    margin-left:30px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Arrow below the tooltip text */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -8px; /* Bottom of the tooltip text */
    left: 50%;
    margin-left: -43px;
    rotate: -30deg;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #d8cfcf transparent;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Skills Styles */ /* Skills Styles *//* Skills Styles */
.skills{
    background-color: rgb(2, 5, 20);
}
.sections{  /* Skills Styles *//* Skills Styles */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skills .section1{
    padding: 20px 0;
    margin: 10px 0px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.sectionTwo{
     padding: 20px 0;
    margin: 0px 5px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #01161f;

}
.skills #skill-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.skills #skill-section .TecnicalBars{
    margin: 10px;
    padding: 10px 0;
    width: 90%;
}

.ProfessionalBars{
    background-color:#ffffff00;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.ProfessionalBars .circle{
    height: 200px;
    width: 25vh;
    position: relative;
    margin-bottom: 10px;
    
}
.ProfessionalBars .circle .text{ 
    font-size: 18px;
}
.refresher{
    position: absolute;
    top: -32px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* Resume Styling section for small device screens *//* Resume Styling section for small device screens */
/* Resume Styling section for small device screens *//* Resume Styling section for small device screens */
/* Resume Styling section for small device screens *//* Resume Styling section for small device screens */
/* Resume Styling section for small device screens *//* Resume Styling section for small device screens */

.resumecontainer{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items:baseline;
    background-color: #001725;
    margin-bottom: 30px;
}
.resume{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #00172518;
}

.resume .left{
    padding: 40px 10px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black,
                -1px -1px 10px black;
}
.resume .left em{
    display: none;
}
.resume .left h2{
    width: 100%;
    color: #f8d2d2;
    padding: 0px 0 10px 10px;
    text-shadow: 1px 1px 10px black;
    font-size: 25px;
    margin-bottom: 20px;
}
.resume .left h2 span{ 
 color: aqua;
}
.resume .left p{
    padding-left: 10px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.resume .left p::before{
    content: 'Explore my professional journey and technical expertise. My resume provides detailed insights into my skills, experience, and key projects. Download it to see how my background aligns with your needs.';
}
.resume .right{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume .right img{
    height: 250px;
    width: 250px;
    position:static;
    filter: blur(2px);
    margin-top: 40px;
    box-shadow:
     -1px 1px 10px #181313,
     1px -1px 10px black,
      1px 1px 8px black;
}

.resume .right .button.downloaded{
    height: 5px;
    width: 200px;
}
.resume .right .button.downloaded::before{
    animation: mover 1.5s ease-in-out forwards;
}
@keyframes mover {
    100%{
        left: 0;
    }
}


.resume .right .button .content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    transition-delay: .5s;
}
.resume .right .button.downloaded .content{
    transform: translateY(30px);
}


.content :is(i, span) {
    color: aqua;
    font-size: 15px;
    font-weight: bold;
}
.resume .right .button .content i{
    font-size: 25px;
    color: #00fff2;
}

.resume .right .button{
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 5;
    height: 50px;
    transform: translate(-50%, -50%);
    width: 150px;
    background: #001725;
    border-radius: 10px;
    box-shadow: -1px 1px 2px #0235ff,
                -2px 1px 9px #0084ff,
                1px -1px 2px #06d6dd inset,
                -1px 1px 1px #00a4aa inset;
    cursor: pointer;
    overflow: hidden;
}
.resume .right .button.downloaded{
    height: 30px;
    width: 300px;
    
}
.resume .button::before{
    content: '';
    position:absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #0059ff;
    border-radius: 10px;
    
}

}
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
/* Device width between 460px and 967px *//* Device width between 460px and 967px */
@media (min-width: 460px) and (max-width: 967px) { /* Device width between 460px and 967px */
    .ProfessionalBars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.ProfessionalBars .circle{
    height: 200px;
    width: 50vh;
    position: relative;
    margin-bottom: 10px;
    
}
}

/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
/* MediaQuery for width of 325px and below *//* MediaQuery for width of 325px and below */
@media (max-width: 325px) { /* MediaQuery for width of 325px and below */
    .container .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    .logo{
    padding-left: 5px;
    color: #00bbc9;
    text-shadow: 1px 0 30px #04dada;
    }
    .sidebar{ 
    width: 150px;
    height: 400px;
    backdrop-filter: blur(20px);
}
 .aboutMe .left h2{
    color: white;
    font-size: 17px;
}
.aboutMe .left h2 span{
    font-size: 13px;
}

.aboutMe .left h1{
    color: white;
    padding: 10px 0;
    font-size: 25px;
}

.aboutMe .left .hire{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMe .left .hire button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
    background-color: aqua;
    margin-bottom: 10px;
}
    .logo span{
    display: none;
}

@keyframes words {
    0%,
    20%{
        content: 'Frontend Developer';
    }
    21%,
    40%{
        content: 'Web Designer';
    }
    41%,
    60%{
        content: 'UI /UX disigner';
    }
    61%,
    80%{
        content: 'Backend Developer';
    }
    81%,
    100%{
        content: 'Fullstack Developer';
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
        height: 25px;

    }
    0%,
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%{
        width: calc(100% + 10px);
        height: 25px;

    }
}
}