*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #25335E;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow-x:hidden ;
}
.container{
    background-color: #01332f;
    height: 100%;
    width: 100%;
}

.container .navbar{                   /* Navbar styling section */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #0214491c;
    box-shadow: 3px 0 5px #000000;
    position: sticky;
    top: 0px;
    right: 0px;
    width: 100%;
    backdrop-filter: blur(10px);
    transition: 1s;
    z-index: 999;
}
.logo{
    cursor: pointer;
    color: rgb(185, 188, 221);
}
.logo span{
    color: #00bbc9;
    text-shadow: 1px 0 30px #04dada;
}
.navbar .navLinks{
    display: inline-flex;
    list-style: none;
    width: auto;

}


.navbar .navLinks li{
    margin-right: 30px;
    margin-bottom: 0;
    text-align:start;

}
.navbar .navLinks li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar .navLinks li a:hover{
    color: aqua;
    text-decoration: underline;
    text-decoration-color: #2b44ff;
    text-decoration-skip-ink:auto ;
    text-decoration-thickness: 5px;
    text-decoration-style:dotted ;
    transition: 1s;
}

.navbar .sidebar{                       /* Sidebar */
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #00001456;
    height: 100vh;
    list-style: none;
    z-index: 99;
    transform: translateX(300px);
    box-shadow: -10px 0 10px #000000;
    backdrop-filter: brightness(.1);
    padding-top: 20px;
    transition: 2s;
    display: none;
}
.navbar .sidebar li{
    text-align:start;
    margin-left: 30px;    
    width: 100%;
    line-height: 40px;
}
.navbar .sidebar li a:hover{
    color: aqua;
    text-decoration: underline;
    text-decoration-color: rgb(0, 26, 255);
    text-decoration-style:solid ;
    text-decoration-thickness: 3px;
    transition: 1s;

}
.navbar .sidebar li a{
    color: white;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
}.navbar .sidebar li:nth-child(1):hover{
    background-color: transparent;
}

.navbar .navLinks li:nth-child(8){
    display: none;
}



.aboutMe{                             /* About me styling section */
    z-index: -3;
    height: 100vh; 
    width: 100%;
    background-color: #00063a;
    padding: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.aboutMe .left{
    width: 50%;

}
.aboutMe .left h1{
    color: white;
    padding: 10px 0;

}
.aboutMe .left h1 span{
    color: aqua;
    font-family:fantasy ;
    font-weight: bolder;
    
}

.aboutMe .left h2{
    color: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.aboutMe .left h2 span{
    color: #ffda0b;
    text-shadow: -10px -1px 10px rgb(0, 20, 14);
    position: relative;
    
    z-index: 0;
    background: transparent;
}
.aboutMe .left h2 span::before{
    content: '';
    animation: words 20s infinite;
}
.aboutMe .left h2 span::after{
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    z-index: 0;
    height: 100%;
    background-color: #00063a;
    border-left: 3px solid #03ffea;
    right: -5px;
    animation: cursor 0.6s infinite, typing 20s steps(20) infinite;
}
@keyframes cursor {
    to{
        border-left: solid 2px #00063a;
    }
}
@keyframes words {
    0%,
    20%{
        content: 'Frontend Developer';
    }
    21%,
    40%{
        content: 'Web Designer';
    }
    41%,
    60%{
        content: 'UI /UX disigner';
    }
    61%,
    80%{
        content: 'Backend Developer';
    }
    81%,
    100%{
        content: 'Fullstack Developer';
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    0%,
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%{
        width: calc(100% + 10px);
    }
}

.aboutMe .left p{
    color: #ffffff;
    padding: 20px 0;

    line-height: 25px;
    margin:10px 0 10px 70px;
    border-left: solid 1px aqua;
}  
.aboutMe .left .hire{
    padding: 10px 0;
}
.aboutMe .left .hire button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px;
    background-color: aqua;
}
.aboutMe .left .hire .contract:hover{
    box-shadow: -1px -1px 20px rgb(0, 141, 141);
}
.aboutMe .left .hire .hireBtn{
    box-shadow: -1px -1px 20px rgb(0, 141, 141);
    background-color: #000808;
    color: white;
}
.aboutMe .left .hire .hireBtn:hover{
    box-shadow: -1px -1px 20px rgb(0, 141, 141);
    background-color: aqua;
    color: black;
}

.aboutMe .right{
    width: 30%;
    position: relative;

    z-index: 1;
}
.aboutMe .right img{
    width: 300px;
    cursor:wait;
    filter:blur(1px);
    transition: 2s;
    border-radius: 50px;
    box-shadow: -10px 0px 30px rgb(0, 122, 122),
                10px 0px 30px #009e9e,
                -10px 10px 30px #006e6e,
                -10px -10px 30px #005050,
                10px 10px 30px #003030;
}
.aboutMe .right img:hover{
    width: 300px;
    filter:blur(0px);
    transition: 2s;
}

@media (max-width: 968px){
    body{
        overflow-x: hidden;

    }
    .container .navbar{
        position: sticky;
        top: 0;
        right: 0;
        z-index: 0;
        backdrop-filter:none;
    }
    .navbar .navLinks li{
        display: none;
    }
   .navbar .navLinks li:nth-child(8){
    display: block;
}
.navbar .sidebar{ 
    width: 150px;
    position: absolute;
    backdrop-filter: blur(10px);
}

.aboutMe{                        /* About me styling section */
    z-index: -1; 
    width: 100%;
    background-color: #00063a;
    padding: 30px;
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    justify-content: space-between;
    height: auto;
}
.aboutMe .left{
    width: 100%;

}
.aboutMe .left h2{
    color: white;
    font-size: 20px;
}

.aboutMe .left p{
    color: #ffffff;
    padding: 20px 0;

    line-height: 25px;
    margin:10px 0 10px 2px;
    border-left: solid 1px aqua;
} 
.aboutMe .right{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    z-index: 0;
    background: transparent;
}
.aboutMe .right img{
    width: 200px;
    cursor:auto;
    filter:blur(0);
    cursor:auto;
    border-radius: 30px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
} 
.aboutMe .right img:hover{
    width: 200px;
    filter:blur(0px);
    transition: 2s;
}

}
@media (max-width: 325px) {
    .container .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
    .logo{
    color: #00bbc9;
    text-shadow: 1px 0 30px #04dada;
    }
    .aboutMe .left h2{
    color: white;
    font-size: 17px;
}
.aboutMe .left h1{
    color: white;
    padding: 10px 0;
    font-size: 25px;
}
.aboutMe .left .hire button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
    background-color: aqua;
    margin-bottom: 10px;
}
    .logo span{
    display: none;
}
}