<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer">
      <hr />
      <p>
        &copy; <span id="copyRightYear"></span> Brandon Kimathi.
        <a href="http://www.apache.org/licenses/">All rights reserved.</a>
      </p>
      <a
        href="https://www.freeprivacypolicy.com/live/39647445-42cf-48b7-96c5-c654783083a9"
        >Terms of Service</a
      >
      |
      <a
        href="https://www.freeprivacypolicy.com/live/39647445-42cf-48b7-96c5-c654783083a9"
        >Privacy Policy</a
      >
    </div>
  </body>
</html>
